.products--grid {
  display: flex;
  flex-direction: column;
}

.product-detail {
  position: fixed;
  top: 61px;
  left: 70%;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.28);
  transition: all ease-out 0.5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
  div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    button{
      background-color: var(--green-light);
      border: none;
      color: white;
      align-self: flex-end;
      padding: 8px 15px;
      border-radius: 8px;
    }
    h1{
      text-align: center;
      font-weight: bolder;
    }
    swiper{
      width: 100%;
      img{
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    .d-title{
      font-weight: bold;
      color: var(--green-light);
    }
  }
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

// web
@media screen and (min-width: 64em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
